
<div class= row>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="top_frame">
			<img src="<%= asset_path('sock-img/sock2.jpg')%>" class="img-responsive" >
			<img src="<%= asset_path('sock-img/sock3.jpg')%>" class="img-responsive" >
			<img src="<%= asset_path('sock-img/sock4.jpg')%>" class="img-responsive" >
			<img src="<%= asset_path('sock-img/sock5.jpg')%>" class="img-responsive" >
		</div>
	</div>	

</div>

<div class= row>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="midle_frame">
			<h3>Artisan and USA made Socks.</h3>
			<br>
			<p>Huffman Hosiery Mills, Inc. is a privately owned, vertical maufacturing and marketing company, whose clientele consists of a wide variety of retailers and hosiery companies. Our manufacturing, distribution, and data-center facilities are located on Hickory Boulavard in Granite Falls, NC. We halso have a showroom in New York, NY. </p>
		</div>
	</div>	

</div>
